.popup__button-close {
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background: transparent;
  background-image: url('../../../images/close-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.popup__button-close:hover {
  opacity: .6;
  transition: opacity .5s linear;
}
